[Unit]
Description=KalAO - Setup system at boot

After=local-fs.target

After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/kalao/kalao-ics/scripts/services/system-setup.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Environment=MILK_SHM_DIR=/tmp/milk

[Install]
WantedBy=default.target
