#
# keyword (column names)
# 
# Syntax:
# <name>,<nameWidth>,<access>,Entry,<width>
# <name>,<nameWidth>,<access>,Function,<width>,<functionName>
# <name>,<nameWidth>,<access>,Menu,<width>,<menuItem>[,<menuItem>...]
# <name>,<nameWidth>,<access>,Menu,<width>,__config__,<configVar>[,<configVar>...]
# <name>,<nameWidth>,<access>,Menu,<width>,__system__,<menuItem>,<unixCommand>
#
# with:
#	<name>   	= input catalog column name
#	<nameWidth>	= field width in character ("-" stand for default)
#	<access> 	= "RO" (ReadOnly) | "WE" (WriteEnabled)
#	<width>  	= field width in character 
#	<functionName>	= built-in perl function (arguments are the other column parameters)
#	<menuItem>	= menu choice
#	<configVar>	= menu choice comming from a configuration variable (in this config file)
#	<unixCommand>	= unix command given all menu items
#
#alregctr = -,WE,Entry,15
#deregctr = -,WE,Entry,15
#nxreg	 = -,WE,Entry,6
#nyreg	 = -,WE,Entry,6
alphacat = -,WE,Entry,10
ampname	 = -,WE,Menu,4,ALL,UL,UR,LL,LR
ao	     = -,WE,Menu,4,on,off
binx	 = -,WE,Menu,2,1,2,3,4
biny	 = -,WE,Menu,2,1,2,3,4
ccdgain	 = -,WE,Menu,3,1,2
ccdros	 = -,WE,Menu,5,fast,slow
centrage = -,WE,Menu,6,aut,man,non
cmd	 = -,WE,Entry,70
code	 = -,WE,Entry,20
comments = -,RO,Entry,70
coord	 = -,WE,Menu,4,AD,CRT
dalpha	 = -,WE,Entry,6
ddelta	 = -,WE,Entry,6
defoc	 = -,WE,Entry,8
defoctpl = -,WE,Entry,8
deltacat = -,WE,Entry,10
equicat	 = -,WE,Entry,8
factobth = -,WE,Menu,3,__config__,FACTOBTH_FAST,FACTOBTH_SLOW
filtre	 = -,WE,Menu,5,UG,B1,BG,B2,V1,VG,GG,RG,IC,ZG,OO,NG
pisfiltre = -,WE,Menu,5,ZG,BB,VB,RB,IB
flatlist = -,WE,Entry,50
flux	 = -,WE,Entry,8
gtexp	 = -,WE,Entry,6
guidage	 = -,WE,Menu,6,oui,non
kalfilter= -,WE,Menu,5,G,R,I,Z,ND,C
ktype	 = -,WE,Menu,9,K_DARK,K_LMPFLT,K_TRGOBS
led 	 = -,WE,Menu,4,red,blue,both,off
mualph	 = -,WE,Entry,10
mudelt	 = -,WE,Entry,10
mv	 = -,WE,Entry,8
nocat	 = -,WE,Entry,5
nocoda	 = -,WE,Entry,10
nocodb	 = -,WE,Entry,10
nodup	 = -,WE,Entry,2
noprog	 = -,WE,Entry,5
nposes	 = -,WE,Entry,2
phi	 = -,RO,Entry,6
readtype = -,WE,Menu,7,simult,delay
refnocod = -,WE,Entry,25
remarques= -,WE,Entry,70
sn	 = -,WE,Entry,5
stopon	 = -,WE,Menu,5,texp,sn
texp	 = -,WE,Entry,6
repeatOb = -,WE,Entry,8
repeatTpl= -,WE,Entry,8
#masque	 = -,WE,Menu,7,__system__,G2,cut -f2 /opt/coralie/DRS_CORALIE/config/ccf_template.tbl | sort | uniq
#
# you have to put here (for the moment) the list of exposures
#
#  egrep "^@COR_|^@CAM_" edp_poses_definition.cfg | sed 's/:.*//;s/@//' | awk '{printf "%s,",$1}'
#
#xreg	 = -,WE,Entry,6
#yreg	 = -,WE,Entry,6
st1	 = -,WE,Entry,6
st2	 = -,WE,Entry,6
st3	 = -,WE,Entry,6
type	 = -,WE,Menu,9,CAM_PRG,CAM_ABTR,CAM_DONU,CAM_FOCT,CAM_FLAT,COR_OBTH,COR_OBJ2,COR_OBJO,COR_OBFP,COR_DCTR,COR_FOCT,COR_VIEW,PIS_EXPO,PIS_FOCU,PIS_PFLA
typsp	 = -,WE,Entry,10
ut1	 = -,WE,Entry,6
ut2	 = -,WE,Entry,6
ut3	 = -,WE,Entry,6
vitesse	 = -,WE,Entry,7
xdctr	 = -,WE,Entry,4
ydctr	 = -,WE,Entry,4


ah	 = -,RO,Function,10,Ah
airmass	 = -,RO,Function,10,Airmass
azim	 = -,RO,Function,10,Azimut
elev	 = -,RO,Function,10,Elevation
vpicmoon = -,RO,Function,10,Vpicmoon
se_moon  = -,RO,Function,10,Moonsep
il_moon  = -,RO,Function,10,Moonfli

#
# Groups
#
# a) common
#
@binning	= binx, biny
@centering	= centrage
@command	= cmd
@comments	= comments, remarques
@expoType	= type
@pointing	= alphacat, deltacat, mualph, mudelt, equicat
@program	= noprog
#@region	= xreg, yreg, nxreg, nyreg, alregctr, deregctr
@starInfo	= typsp, mv
@timing		= ut1, ut2, ut3

#
# camera specifiq
#
@camCode	= code
@camExpo	= filtre, texp, defoctpl
@camParam	= readtype, ampname, defoc
@flatlist	= flatlist
@infocam	= azim, elev, airmass, ah, se_moon, il_moon
#
# coralie specifiq
#
@corCode	= nocat, nocoda, nocodb, nodup
@corRefCode	= refnocod
@corExpo	= texp
@corGuiding	= guidage
@corOffset	= xdctr,ydctr
@corParam	= factobth, stopon, sn, ccdros 
@reducInfo	= vitesse
@infocor	= azim, elev, airmass, ah, vpicmoon, se_moon, il_moon
#
# KalAO specific
#
@kalCode    = code
@kalExpo    = texp, kalfilter
@infoKal    = azim, elev, airmass, ah, se_moon, il_moon
#
#--------------------------------------------------------------------
# OB -- Exposure type definition
#--------------------------------------------------------------------
#3266465
# syntax:
#
#	@<name>[:<option>]	predefined list of variables see above (start with upper case letter)
#	<var>:<value>		means <var> gets a predefined editable value
#	<var>::<value>		means <var> gets a predefined read-only value
#
# with <option>:
#
#	ins_calib		calibration exposure (without the telescope)
#	sky_calib		calibration exposure (with the telescope)
#	sky			sky exposure (default)
#
#-----------------NO INSTRUMENT---------------------------------------
#
@THE_END:ins_calib
- type, code, texp:0

#-----------------CAMERA----------------------------------------------
#
@CAM_PRG 
- @expoType, @pointing, repeatOb, repeatTpl
- @program, @camCode 
- @starInfo, @camParam, @timing
- @comments
- @infocam
- TPL:@camExpo, dalpha, ddelta
###- TPL:@camExpo, dalpha, ddelta, phi::0

@CAM_ABTR
- @expoType, @pointing, repeatOb, repeatTpl
- @program, @camCode 
- @starInfo, @camParam, @timing
- @comments
- @infocam
- TPL:@camExpo 


@CAM_DONU
- @CAM_ABTR

@CAM_EXNR
- @expoType, @pointing, repeatOb, repeatTpl
- @program, @camCode 
- @starInfo, @camParam, @timing
- @command
- @comments
- @infocam
- TPL:@camExpo 

@CAM_EXWR
- @CAM_EXNR

@CAM_BIAS:ins_calib
- @expoType, @camCode, repeatOb, repeatTpl
- ampname
- TPL:texp::0

@CAM_LED:ins_calib
- @expoType, @camCode
- ampname, led
- TPL:@camExpo 

@CAM_DARK:ins_calib
- @expoType, @camCode
- ampname
- TPL:texp:30

#@CAM_FFL:sky_calib
#- @expoType, @pointing, texp:300
#- @infocam

@CAM_FLAT:sky_calib
- @expoType, @camCode, @pointing, texp::300
- @flatlist
- @infocam

@CAM_FOCT:sky_calib
- @expoType, @camCode, @pointing, texp::300
- @starInfo
- @infocam
- TPL: filtre::VG
#
#-----------------CORALIE----------------------------------------------
#
@COR_OBTH
- @expoType, @pointing, repeatOb, repeatTpl
- @program, @corCode, @corRefCode
- @centering, @corGuiding, @timing
- @starInfo, @reducInfo, @binning, @corParam
- @comments
- @infocor
- TPL: @corExpo

@COR_OBJ2
- @COR_OBTH

@COR_OBJO
- @COR_OBTH

@COR_OBFP
- @COR_OBTH

@COR_DCTR
- @COR_OBTH

@COR_GUID
- @COR_OBTH

@COR_BIAS:ins_calib
- @expoType, noprog::1, ccdros, @binning
- TPL: texp::0

@COR_DARK:ins_calib
- @expoType, noprog::1, ccdros, stopon:texp, @binning
- TPL: texp:900

@COR_LOCC:ins_calib
- @expoType, noprog::1, @corRefCode, stopon::texp, texp::150, ccdros::fast, @binning, factobth

@COR_LOCO:ins_calib
- @expoType, noprog::1, @corRefCode, stopon::texp, texp::150, ccdros::fast, @binning, factobth

@COR_FFC :ins_calib
- @expoType, noprog::1, @corRefCode, stopon::texp, texp::150, ccdros::fast, @binning, factobth

@COR_FFO :ins_calib
- @expoType, noprog::1, @corRefCode, stopon::texp, texp::150, ccdros::fast, @binning, factobth

@COR_FF2 :ins_calib
- @expoType, noprog::1, @corRefCode, stopon::texp, texp::150, ccdros::fast, @binning, factobth

@COR_THA2:ins_calib
- @expoType, noprog::1, @corRefCode, stopon::texp, texp::140, ccdros:fast, @binning, factobth

@COR_THAO:ins_calib
- @expoType, noprog::1, @corRefCode, stopon::texp, texp::140, ccdros:fast, @binning, factobth

@COR_THAC:ins_calib
- @COR_THAO

@COR_THFP:ins_calib
- @COR_THA2

@COR_FPC:ins_calib
- @COR_THAO

@COR_FPO:ins_calib
- @COR_THAO

@COR_FP2:ins_calib
- @COR_THAO

@COR_FOCT:sky_calib
- @expoType, @corRefCode, @pointing, texp::300
- @starInfo
- @infocor

@COR_TLED:ins_calib
- @expoType, @corParam, stopon:texp, texp:2

@COR_VIEW:sky_calib
- @expoType, @pointing, stopon:texp, @comments
- @starInfo
- @infocor
- TPL: texp:1

@COR_LOFF:ins_calib
- type, code, texp:0

#
#-----------------KalAO----------------------------------------------
#
@K_TRGOBS:sky
- ktype, @pointing, repeatOb, repeatTpl
- @program, @kalCode, mv
- @starInfo, @timing
- @comments
- @infoKal
- TPL:@kalExpo

#@PIS_BIAS:ins_calib
#- @expoType, @kalCode
#- @binning
#- texp::0

@K_DARK:ins_calib
- ktype, @kalCode, repeatOb, repeatTpl
- TPL: texp:60

@K_LAMPON:ins_calib
- ktype, code

@K_LAMPOFF:ins_calib
- ktype, code

@K_LMPFLT:ins_calib
- ktype, @flatlist


#@K_SKYFLT:sky_calib
#- @expoType, @kalCode, @pointing, texp::300
#- @flatlist
#- @infoKal

#@K_AOCAL:ins_calib
#- @expoType, @kalCode

#@K_ABORT

#
#----------------CONFIG-CORALIE-----------------------------------------
#
# Lists of calibration (predefined list of exposure)
#
# Syntax:
#	$CALIBRATION_<name>
#	- <poseType>,<number_of_templates>[,<key>,<content>]...
#	- ...
# <key> are variable needin a special setting
# <content> setting for <key>
#
$CALIBRATION_CORALIE
- COR_BIAS,1,ccdros:slow
- COR_BIAS,1,ccdros:fast
- COR_BIAS,1,ccdros:fast
- COR_LOCO,1,ccdros:fast
- COR_LOCC,1,ccdros:fast
- COR_FF2,10,ccdros:fast
- COR_THAC,1,ccdros:fast
- COR_THA2,1,ccdros:fast
- COR_THA2,1,ccdros:fast
- COR_THFP,1,ccdros:fast
- COR_THFP,1,ccdros:fast
- COR_LOFF,1
- COR_FP2,1,ccdros:fast
- COR_FPC,1,ccdros:fast
- COR_TLED,2,texp:60

$CALIBRATION_DRIFT_CORALIE
- COR_THA2,1,ccdros:fast
- COR_THFP,1,ccdros:fast
- COR_LOFF,1
- COR_FP2,1,ccdros:fast


#
#----------------COMMENTAIRE POUR BALLOON-------------------------------
#
# !!!!!!!!!!!!!!! ATTENTION !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
# a chaque ajout de variable, mettre a jour prc/util/reset_edp_value.prc
#
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
"ah=Angle horaire (angle_horaire : T_sideral - alpha)
"airmass=Masse d'air en d�but de pose
"alphacat=Ascension droite (hh:mm:ss)pour l'equinoxe "equicat"
"ampname=nom de l'ampli de sortie EulerCam (ALL, LL, LR, UR, UL)
"azim=Azimut (dd:mm:ss) (edp:O[deg] au Nord, croissant vers l'est, mais T120: 0[deg] au Sud)
"binx=Binning du CCD selon X
"biny=Binning du CCD selon Y
"ccdgain=Gain de l'amplificateur programmable (1|2)
"ccdros=Vitesse de lecture du ccd
"readtype=Mode de lecture (simult:pendant le pointage (rapide) - delay:avant pointage (lent))
"centrage=Choix de faire le centrage (oui, non, auto)
"cmd=commande Inter complete pour le lancement des poses EXNR EXWR
"code=Code objet
"comments=Commentaire
"coord=Choix des coordonn�es pour l'aquisition; selon alpha-delta (AD) ou position courante (CRT)
"corbaorb=Correction Barycentrique selon l'orbite
"corbarot=Correction Barycentrique selon la rotation
"dalpha=delta alpha pour offset au pointage [asec] (limite auto a 250[asec])
"ddelta=delta alpha pour offset au pointage [asec] (limite auto a 250[asec])
"defoc=valeur de d�focalisation par d�faut pour la s�quence enti�re([mm] sur m2)
"defoctpl=valeur de d�focalisation pour l'exposition courante ([mm] sur m2)
"deltacat=D�clinaison (dd:mm:ss) pour l'equinoxe "equicat"
"dif=Diff�rence de magnitude entre composantes
"elev=El�vation (dd:mm:ss)
"equicat=Equinoxe des coordonn�e
"factobth=facteur multiplicatif du flux du thorium pour les poses OBTH
"filtre=filtres C2
"flatlist=Sequence des flats (format:<filtre>[/<amp>][,<filtre>...] rem: espace accept� comme s�parateur, <amp> : "ALL", "UL"
"fz=fz pour milieu de pose
"guidage=Choix de faire le guidage (oui, non)
"lastobs=date derni�re mesure
"led=choix de la led pour les psoes CAM_LED
"mualph=Mouvement propre selon alpha en arcsec par an
"mudelt=Mouvement propre selon delta en arcsec par an
"mv=Magnitude Visuelle
"nbmes=Nb de mesure d�j� effectu�es (r�ussies)
"nocat=No de catalogue (0:BD et CPD, 1:HD, 2:NGC, 3:IC, 6:Kukarkin, 11:Giclas, 13:Gliese, 22:SAO, 27:Hipparcos)
"nocoda=Code A de l'objet  
"nocodb=Code B de l'objet
"nodup=Composante visuelle (0:objet simple, 1:composante A, 2:composante B, ...)
"noprog=No du programme
"nposes=Nombre de pose sur l'objet
"observation=Commentaire
"phi=Angle du d�rotateur (0:Nord)
"refnocod=Identification de l'objet
"remarques=Commentaire durant la nuit
"sequence=sequence d'observation <filtre>/<Texpo>[,...]
"sn=Rapport signal sur bruit d�sir� pour un arret (stopon) selon sn
"st1=d�but 1ere fen�tre observabilit� (format: hh:mm[sideral time])
"st2=milieu 1ere fen�tre observabilit� (format: hh:mm[sideral time])
"st3=fin 1ere fen�tre observabilit� (format: hh:mm[sideral time])
"start=Heures de d�but de pose (TS)
"stopon=Choix du type d'arr�t de la pose. Selon le temps de pose ou un rapport signal sur bruit d�sir�
"texp=temps d'exposition [s]
"type=Type de pose: PRG:programme-STD:standard-DIT:dithering-ABTR-absolute Tracking-FOCT:focus_telescope-EXNR:expo_speciale_acqui_sans_lecture-EXWR:expo_speciale_acqui_inclu_la_lecture
"typsp=Type spectral
"ut1=d�but 2eme fen�tre observabilit� (format: hh:mm[universal time])
"ut2=milieu 2eme fen�tre observabilit� (format: hh:mm[universal time])
"ut3=fin 2eme fen�tre observabilit� (format: hh:mm[universal time])
"vitesse=Vitesse. Utilis� pour la r�duction et le calcul de Delta V
"vpicmoon=Vitesse du pic de la lune
"se_moon=separation angulaire avec la lune
"il_moon=pourcent illumination de la lune
"xguid=position X ccd guidage de l'�toile guide (origine 1)
"yguid=position Y ccd guidage de l'�toile guide (origine 1)
#"alregctr=coordonn�e alpha du centre de la r�gion du CCD image
#"deregctr=coordonn�e delta du centre de la r�gion du CCD image
#"nxreg=taille selon X de la r�gion du CCD image
#"nyreg=taille selon Y de la r�gion du CCD image
#"xreg=origine selon X du ccd image de la r�gion � lire (origine 1)
#"yreg=origine selon Y du ccd image de la r�gion � lire (origine 1)
#
# -- unused --
#

"_fz=Fz de milieu de pose pr�vu dans prepnuit
"_schedule=Heure sid�rale milieu de pose pr�vue dans prepnuit
"_start_ts=Heure sid�rale milieu de pose pr�vue dans prepnuit
