dotfiles/config/_systemd/user/default.target.wants/

*.a
*.mke
tcs_communication/pyipc/README_KalAO.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Logs
*.log

# C extensions
*.so

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# PyCharm
.idea/
