[settings]
extend_skip = tcs_communication/pygop,tcs_communication/pyipc,compiled

known_math=numpy,scipy,pandas
known_astro=astropy,photutils
known_cacao=pyMilk,CacaoProcessTools
known_graphic=PySide6
known_kalao=kalao
known_kguis=kalao.guis
known_kdefinitions=kalao.definitions
known_config=config

sections=FUTURE,STDLIB,MATH,ASTRO,CACAO,GRAPHIC,THIRDPARTY,FIRSTPARTY,LOCALFOLDER,KALAO,KGUIS,KDEFINITIONS,CONFIG
