[settings]
extend_skip = gui_flask/bin,tcs_communication/pygop,tcs_communication/pyipc,kalao/fli/FLI

known_math=numpy,scipy,pandas
known_astro=astropy,photutils
known_cacao=pyMilk,CacaoProcessTools
known_config=kalao_config,kalao_enums
sections=FUTURE,STDLIB,MATH,ASTRO,CACAO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER,CONFIG