[Monitoring]
fli_temp_CCD        = float
fli_temp_heatsink   = float
shutter             = string
flip_mirror         = string
calib_unit          = float
temp_bench_air      = float
temp_bench_board    = float
temp_water_in       = float
temp_water_out      = float
laser               = float
tungsten            = string
adc1                = float
adc2                = float

[Telemetry]

[Euler]

