# Format is key = value_type, comment
[Obs_log]
target              = string, Target name
object              = string, Object name
prog_id             = string, Observing program ID
observer            = string, Observer name
date-obs            = string, No comment
mjd-obs             = float, No comment
utc                 = float, No comment
lst                 = float, No comment
ra                  = float, No comment
dec                 = float, No comment
equinox             = float, No comment
radecsys            = string, No comment
instrume            = string, Instrument name
telescope           = string, Telescope name
site                = string, Site name
exptime             = float, Exposure time
type                = string, Exposure type
# WCS

[Monitoring]
fli_filter_name     = string, Filter name
fli_filter_position = int, Filter number
fli_temp_CCD        = float, No comment
fli_temp_heatsink   = float, No comment
shutter             = string, No comment
flip_mirror         = string, No comment
calib_unit          = float, No comment
temp_bench_air      = float, No comment
temp_bench_board    = float, No comment
temp_water_in       = float, No comment
temp_water_out      = float, No comment
laser               = float, No comment
tungsten            = string, No comment
adc1                = float, No comment
adc2                = float, No comment

[Telemetry]

[Euler]
# TEL AZ =  349.660 / [deg] Az angle at start S=0,W=90
#TEL MOON DEC = -13.72502 / [deg] -13:43:30.0 DEC (J2000)
#TEL MOON RA = 314.878722 / [deg] 20:59:30.8 RA (J2000)
