# Format is key = value_type, comment
[Obs_log]
target              = string, Target name
object              = string, Object name
prog_id             = string, Observing program ID
observer            = string, Observer name
date-obs            = string,
mjd-obs             = float,
utc                 = float,
lst                 = float,
ra                  = float,
dec                 = float,
equinox             = float,
radecsys            = string,
instrume            = string, Instrument name
telescope           = string, Telescope name
site                = string, Site name
exptime             = float, Exposure time
type                = string, Exposure type
# WCS

[Monitoring]
fli_temp_CCD        = float,
fli_temp_heatsink   = float,
shutter             = string,
flip_mirror         = string,
calib_unit          = float,
temp_bench_air      = float,
temp_bench_board    = float,
temp_water_in       = float,
temp_water_out      = float,
laser               = float,
tungsten            = string,
adc1                = float,
adc2                = float,

[Telemetry]

[Euler]
# TEL AZ =  349.660 / [deg] Az angle at start S=0,W=90
#TEL MOON DEC = -13.72502 / [deg] -13:43:30.0 DEC (J2000)
#TEL MOON RA = 314.878722 / [deg] 20:59:30.8 RA (J2000)
