# All times in seconds

[PLC]
IP          = 192.168.1.140
Port        = 4840
InitTimeout = 200
InitNbTry	= 3
LaserMaxAllowed = 0.71
LaserSwitchWait = 8
Disabled = [flip_mirror]

[FLI]
ScienceDataStorage  = /home/kalao/data/science/
TemporaryDataStorage  = /home/kalao/data/tmp/
ExpTime				= 0.05
TimeSup				= 3
FilterPosition      = [clear, g, r, i, z, empty]

[SEQ}
IP          = 127.0.0.1
PORT        = 5000
