# All times in seconds

[PLC]
IP          = 192.168.1.140
Port        = 4840
InitTimeout = 200
InitNbTry	= 3
LaserMaxAllowed = 10
LaserSwitchWait = 5
LaserPosition   = 23.36
TungstenPosition = 88
TungstenSwitchWait = 2
TungstenStabilisationTime = 1200
TungstenWaitSleep = 3
Disabled = None
TempBenchAirOffset = -4.5
# 19 - 23.5
TempBenchBoardOffset = -6.1
# 19 - 25.1
TempWaterInOffset = -3.6
# 19 - 22.7
TempWaterOutOffset = -1.7
# 19 - 20.3
# Angles on the ADC to have max vertical dispersion
ADC1 = 314.556259
ADC2 = 45.4437409


[FLI]
ScienceDataStorage   = /home/kalao/data/science/
TemporaryDataStorage = /home/kalao/data/tmp/
ExpTime				= 0.05
TimeSup				= 3
IP                  = 127.0.0.1
Port                = 9080
RequestTimeout      = 31

[FilterWheel]
DevicePort          = /dev/ttyUSB0
# soon to be changed to /dev/fw102c
EnableWait          = 2.0
InitializationWait  = 2.0
PositionChangeWait  = 6.0

[FilterPosition]
clear = 0
g     = 1
r     = 2
i     = 3
z     = 4
empty = 5

[LampFlat]
ClearDit = 5
gDit     = 10
rDit     = 10
iDit     = 10
zDit     = 10
emptyDit = 5

[Calib]
DefaultFlatList = clear, clear, clear clear, clear,
                  g, g, g, g, g,
                  r, r, r, r, r,
                  i, i, i, i, i,
                  z, z, z, z, z,
                  empty, empty, empty, empty, empty

[SEQ]
IP          = 127.0.0.1
Port        = 5005
gop_arg_int    =
gop_arg_float  = dit, intensity
gop_arg_string = filepath, filterposition
CenteringTimeout = 180

[GOP]
IP = test_server
Port = 18234
Verbosity = 3

[SystemD]
camera_service = kalao_camera.service
database_updater = kalao_database-updater.service
flask_gui = kalao_flask-gui.service
sequencer_serivce = kalao_sequencer.service
# temperature_control = kalao_temeperature-control.service
ServiceRestartWait = 15

[Database]
Telemetry_update_interval     = 10
PLC_monitoring_update_interval = 60
