# All times in seconds

[PLC]
IP          = 192.168.1.140
Port        = 4840
InitTimeout = 200
InitNbTry	= 3
LaserMaxAllowed = 0.6
LaserSwitchWait = 8
LaserPosition   = 23.36
TungstenPosition = 88
Disabled = ['flip_mirror']
TempBenchAirOffset = -4.5
    # 19 - 23.5
TempBenchBoardOffset = -6.1
    # 19 - 25.1
TempWaterInOffset = -3.7
    # 19 - 22.7
TempWaterOutOffset = -1.3
    # 19 - 20.3

[FLI]
ScienceDataStorage   = /home/kalao/data/science/
TemporaryDataStorage = /home/kalao/data/tmp/
ExpTime				= 0.05
TimeSup				= 3
IP                  = 127.0.0.1
Port                = 9080

[FilterWheel]
DevicePort          = /dev/ttyUSB0
EnableWait          = 2.0
InitializationWait  = 2.0
PositionChangeWait  = 6.0

[FilterPosition]
clear = 0
g     = 1
r     = 2
i     = 3
z     = 4
empty = 5

[SEQ]
IP          = 127.0.0.1
Port        = 5005
gop_arg_int    =
gop_arg_float  = dit, intensity
gop_arg_string = filepath, filterposition

[GOP]
IP = test_server
Port = 18234
Verbosity = 3
