# Install MilkWrap and pyMilk from sources ("pip install -e ." in their respective sources)

scipy
astropy

# DB
pymongo
pytz
PyYAML

# For alignment tools
PySide2

# To debug fake streams generation anf flux map generation
matplotlib
