# Install ImageStreamIO, CacaoProcessTools and pyMilk from sources (see wiki)

# Basics
numpy
scipy
pandas
scikit-image
astropy
photutils
pytz
PyYAML
requests
schedule
Unidecode

# Tmux
libtmux

# For debugging
matplotlib
ipython

# Beckhoff
opcua

# Thorlabs FW
microscope

# RTC sensors
PySensors

# To interact with systemd
systemd-python
dasbus
PyGObject

# DB
pymongo
redis[hiredis]

# For GUIs
PySide6
Flask

# To avoid some errors (about cryptography being missing)
cryptography

# Code style
isort
yapf
mypy
ruff

# Performances
pyarrow