# Install ImageStreamIO, CacaoProcessTools and pyMilk from sources ("pip install ." in ImageStreamIO, milk and pyMilk sources dirs)

# Basics
numpy
scipy
pandas
scikit-image
astropy
photutils
pytz
PyYAML
requests
schedule
Unidecode

# Tmux
libtmux

# For debugging
matplotlib
ipython

# Beckhoff
opcua

# Thorlabs FW
microscope

# RTC sensors
PySensors

# To interact with systemd
systemd-python
dbus-python

# DB
pymongo

# For GUIs
PySide6
Flask

# To avoid some errors (about cryptography being missing)
cryptography
