[Unit]
Description=KalAO Flask GUI service

[Service]
Type=simple
ExecStart=/home/kalao/kalao-ics/scripts/kalao_flask-gui.sh
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
