[Unit]
Description=KalAO - Tmux server

[Service]
Type=forking
ExecStart=/home/kalao/kalao-ics/scripts/services/tmux-server_start.sh
ExecStop=/home/kalao/kalao-ics/scripts/services/tmux-server_stop.sh
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Environment=MILK_SHM_DIR=/tmp/milk

Nice=-20
CPUSchedulingPolicy=rr
CPUSchedulingPriority=98
CPUSchedulingResetOnFork=false

[Install]
WantedBy=default.target
