[Unit]
Description=KalAO - Nüvü Wavefront Sensor

After=kalao_system-setup.service
Wants=kalao_system-setup.service

After=kalao_tmux-server.service
Wants=kalao_tmux-server.service

[Service]
Type=oneshot
ExecStart=/home/kalao/kalao-ics/scripts/kalao_nuvu_start.sh
ExecStop=/home/kalao/kalao-ics/scripts/kalao_nuvu_stop.sh
RemainAfterExit=true
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Environment=MILK_SHM_DIR=/tmp/milk

Nice=0
CPUSchedulingPolicy=rr
CPUSchedulingPriority=99
CPUSchedulingResetOnFork=false

[Install]
WantedBy=default.target
