[Unit]
Description=KalAO - Hardware timer

After=network-online.target
Wants=network-online.target

After=mongod.service
Wants=mongod.service

After=redis-server.service
Wants=redis-server.service

After=kalao_cacao.service

[Service]
Type=simple
ExecStart=/home/kalao/kalao-ics/scripts/kalao_hardware-timer.sh
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Environment=MILK_SHM_DIR=/tmp/milk

Nice=10
CPUSchedulingPolicy=other
CPUSchedulingPriority=0
CPUSchedulingResetOnFork=false

[Install]
WantedBy=default.target
