[Unit]
Description=KalAO - Nuvu
After=kalao_system-setup.service

[Service]
Type=oneshot
ExecStart=/home/kalao/kalao-ics/scripts/kalao_nuvu_start.sh
ExecStop=/home/kalao/kalao-ics/scripts/kalao_nuvu_stop.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Environment=MILK_SHM_DIR=/tmp/milk

[Install]
WantedBy=default.target
