[Unit]
Description=KalAO - CACAO

After=kalao_system-setup.service
Wants=kalao_system-setup.service

After=kalao_tmux-server.service
Wants=kalao_tmux-server.service

After=kalao_nuvu.service

[Service]
Type=oneshot
ExecStart=/home/kalao/kalao-cacao-workdir/scripts/start.sh
ExecStop=/home/kalao/kalao-cacao-workdir/scripts/stop.sh
ExecReload=/home/kalao/kalao-cacao-workdir/scripts/reload.sh
RemainAfterExit=true
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Environment=MILK_SHM_DIR=/tmp/milk

# CACAO set CPUScheduling by itself

[Install]
WantedBy=default.target
