[Unit]
Description=KalAO pump wachtdog service

[Service]
Type=simple
ExecStart=/home/kalao/kalao-ics/scripts/kalao_pump-watchdog.sh
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
